/* (from the lighter to the darker) */
/* blue */
$color1: #0EA5E9; /* sky500 */
$color2: #0284C7;
$color3: #0369A1;
$color4: #075985;
$color5: #0C4A6E;
$color6: #075985;

/* gray */
$lightGray:#52525B;
$darkGray: #1E1E1E;